<%-include('./partials/head.ejs')-%>
<div class="container">
    <div id="content">
        <div class="container">
            <div class="about">
                <div class="about-author">
                    <div style="text-align: center;">
                        <h3>404 page</h3>
                        <p>page not found</p>
                    </div>                    
                    <div class="row about-content">
                        <img src="img/404.jpg" width="600" style="width: 100%;" class="center-align responsive-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('./partials/footer.ejs')-%>